main {
    flex: 1;
    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 100%;
    max-width: 1440px;

}

.main__info {
    width: 100%;
    max-width: 570px ;
}

.main__info p{
    font-size: 18px;
    margin: 20px 0 28px;
    text-align: justify;
}

.main__info div {
    display: flex;
    column-gap: 32px;

}

.main__info div a, .main__info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.main__info div a {
    background: blue;
}

.main__info div a:hover {
    background: blueviolet;
}


.main__info div button {
    background: transparent;
    border: 1px solid yellow
}

.main__info div button:hover {
    background: #fcb030;
}

.soniccorrendo {
    bottom: 110px;
    position: absolute;
    width: 100px;
    left: 0;
    z-index: 1;
    animation: 2s sonic_animation infinite linear;
} 

.sonicrolando {
    bottom: 110px;
    position: absolute;
    width: 100px;
    left: 450px;
    opacity: 0;
    animation: 2s sonic_rolando infinite linear;
    animation-delay: 1s;
}

/* .sonicrolando:hover {
    animation: 1s sonic_rolando infinite linear;
} */

@keyframes sonic_animation {
    0% {
      transform: translateX(0px);
    }
    100% {
       transform: translateX(900px);
       opacity: 0;
    }
    
  }

  @keyframes sonic_rolando {
    0% {
      transform: translateX(0px);
    }
    50%{
        transform: translateX(550px);
        opacity: 0.3;
    }
    100% {
        transform: translateX(1300px);
        opacity: 1;
    }
  }